.padding-y {
  padding-top: 100px;
  padding-bottom: 100px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.bg-blue {
  background-color: #161439;
}

.bg-text-blue {
  color: #161439;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner {
  background-image: url("../images/Section.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.vector {
  background-image: url("../images/Vector\ \(1\).png");
  top: 0;
  left: 0;
  z-index: 99999;
  color: #fdfdfd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner-box {
  background-image: url("../images/div.banner__author\ paints.png");
  color: #fdfdfd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 150px;
  height: auto;
  padding: 10px;
}
.vector::after {
  content: "";
  position: absolute;
  background-image: url("../images/Heading\ 3\ →\ SVG.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 68px;
  bottom: 90%;
  left: 100%;
}
.nav-icon ul li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #7f7e97;
}
